
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Deportivo</title>
  <!-- Enlace al archivo CSS desde la carpeta 'static' -->
  <link rel="stylesheet" href=" {{ url_for('static', filename='css/login.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="flash-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <div class="login-container">
    <div class="login-box">
      <div class="header">
        <h1>⚽ SportsApp</h1>
        <p>Gestión deportiva profesional al alcance de tu mano.</p>
      </div>
      <form 
        method="post"
        action="/index"
        novalidate
        onsubmit="return validateForm()"
      >
        <div class="input-group">
          <input type="email" name="email" id="email" placeholder="Correo Electrónico" required>
          <div
                    class="invalid-feedback"
                    id="emailFeedback"
                    style="display: none"
                  >
                    Debe ingresar su correo Electrónico
            </div>
        </div>
        <div class="input-group">
          <input type="password" name="password" id="password" placeholder="Contraseña" required>
          <div
                    class="invalid-feedback"
                    id="passwordFeedback"
                    style="display: none"
                  >
                  Su contraseña debe ser mayor a 5 caracteres.. ingrese su contraseña.
          </div>
        </div>
        <button type="submit" class="login-btn">Iniciar Sesión</button>
        <div class="divider">
        </div>
      
    </div>
  </div>
</body>
</html>

<script>
  function validateForm() {
    // Limpiar mensajes de error
    document.getElementById("emailFeedback").style.display = "none";
    document.getElementById("passwordFeedback").style.display = "none";

    const email = document.getElementById("email").value;
    const pwd = document.getElementById("password").value;

    let isValid = true;

    // Validar que el email no esté vacía
    if (!email.trim() || email.length < 5) {
      document.getElementById("emailFeedback").style.display = "block";
      isValid = false;
    }
    // Validar que la pwd no esté vacía
    if (!pwd.trim() || pwd.length < 5) {
      document.getElementById("passwordFeedback").style.display = "block";
      isValid = false;
    }

    return isValid; // Si todas las validaciones pasan, enviar el formulario
  }
</script>