{% extends 'template.html' %}

{% block content %}

<div class="container">
    <div class="pagetitle">
        <h1>Editar de Reglamento</h1>
      </div>
      
        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4" style="background-image: url(static/assets/img/menu/copa.jpeg);"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <h3 class="card-title">Modificar datos del Reglamento</h3>
                <div class="container" data-aos="fade-up">
                    <h5>Nombre Reglamento</h5>

                  </div>
                <div class="col-lg-4 col-md-6">
                    <input type="text" class="form-control"  name="ape" required value="{{reglamento.nombreReglamento}}">
                </div>

                <div class="container" data-aos="fade-up">
                    <h5>Descripcion</h5>
                  </div>
                <div class="col-lg-4 col-md-6">
                    <textarea class="form-control" name="message" rows="5" placeholder="{{reglamento.descripcion}}"></textarea>                    </div>
                
                <div class="container" data-aos="fade-up">
                <h5>Formato del Reglamento</h5>
                </div>
                <select class="col-lg-4 col-md-6" placeholder="Default select format" required="">
                
                  {% for item in list2 %}
                  <option value="{{ item }}" {% if item == reglamento.formato %}selected{% endif %}>{{ ELIMINACION }}</option>
                  <option value="{{ item }}" {% if item == reglamento.formato %}selected{% endif %}>{{ FASE DE GRUPOS }}</option>
                  <option value="{{ item }}" {% if item == reglamento.formato %}selected{% endif %}>{{ TODOS CONTRA TODOS }}</option>
                  {% endfor %}
                </select>

                <div class="container" data-aos="fade-up">
                    <h5>Guardar Reglamento</h5>
                  </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                <div class="col-13 text-end">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>

            </form>
          </div><!-- End Reservation Form -->

        </div>
    </section><!-- /Book A Table Section -->


</html> 
{% endblock %}