{% extends 'template.html' %}

{% block content %}

<div class="container">
    <div class="pagetitle">
        <h1>Registro de Reglamento</h1>
      </div>
      
        <div class="row g-0" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4" style="background-image: url(static/assets/img/menu/copa.jpeg);"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <h3 class="card-title">Registrar Reglamento</h3>
                <div class="container" data-aos="fade-up">
                    <h5>Nombre Reglamento</h5>
                  </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre Reglamento" required="">
                </div>
                <div class="container" data-aos="fade-up">
                    <h5>Descripcion</h5>
                  </div>
                <div class="col-lg-4 col-md-6">
                    <textarea class="form-control" name="message" rows="5" placeholder="Reglas"></textarea>                    </div>
                <div class="container" data-aos="fade-up">
                  <h5>Formato del Reglamento</h5>
                </div>
                <select class="col-lg-4 col-md-6" placeholder="Default select format" required="">
                  <option selected="">ELIMINACION</option>
                  <option value="1">FASE DE GRUPOS</option>
                  <option value="2">TODOS CONTRA TODOS</option>
                </select>

                <div class="container" data-aos="fade-up">
                    <h5>Guardar Reglamento</h5>
                  </div>
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                <div class="col-13 text-end">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>

            </form>
          </div><!-- End Reservation Form -->

        </div>
    </section><!-- /Book A Table Section -->


</html> 
{% endblock %}