{% extends 'template.html' %}
{% block content %}
<div class="col-12">
    <h2 class="mt-4">Calendario</h2>
    <div class="justify-content-end mb-3">
        <a href="/admin/calendario/register" class="btn btn-success">Nuevo Campeonato</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nro</th>
                <th>FechaJornada</th>
                <th>nroEncuentros</th>
                <th>Accion</th>
                <th>Accion</th>

            </tr>
        </thead>
        <tbody>
            {% if list %}
            {% for item in list %}
            <tr id="row-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ item.fechaJornada }}</td>
                    <td>{{ item.nroEncuentros}}</td>
                    <td>
                        <a href="/admin/calendaario/edit/{{ item.id }}" class="btn btn-info">Modificar</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteRow({{ item.id }})">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No hay Calendarios disponibles.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<script>
    function deleteRow(id) {
        const row = document.getElementById(`row-${id}`);
        if (confirm("¿Estás seguro de que deseas eliminar este calendario.?")) {
            row.remove();
        }
    }
</script>
{% endblock %}