{% extends 'template.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle">
    <h1>Editar Encuentro</h1>
  </div>
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Modifica los datos del encuentro</h5>

            <form class="row g-3 needs-validation" method="POST" action="/admin/encuentro/update" novalidate id="editForm">
              <input type="hidden" value="{{ encuentro.id }}" name="idEncuentro" />

              <!-- Sección Encuentro -->
              <hr>
              <h6>Encuentro</h6>
              
              <div class="col-md-6 mb-3">
                <label for="idInscrito1" class="form-label">ID Inscrito 1</label>
                <input type="number" class="form-control" id="idInscrito1" name="idInscrito1" required value="{{ encuentro.idInscrito1 }}">
                <div class="invalid-feedback">Por favor, ingrese el ID del primer inscrito.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="idInscrito2" class="form-label">ID Inscrito 2</label>
                <input type="number" class="form-control" id="idInscrito2" name="idInscrito2" required value="{{ encuentro.idInscrito2 }}">
                <div class="invalid-feedback">Por favor, ingrese el ID del segundo inscrito.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="ubicacion" class="form-label">Ubicación</label>
                <input type="text" class="form-control" id="ubicacion" name="ubicacion" required value="{{ encuentro.ubicacion }}">
                <div class="invalid-feedback">Por favor, ingrese la ubicación.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="identificacion" class="form-label">Identificación</label>
                <input type="text" class="form-control" id="identificacion" name="identificacion" required value="{{ encuentro.identificacion }}">
                <div class="invalid-feedback">Por favor, ingrese la identificación.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="estado" class="form-label">Estado</label>
                <select class="form-control" id="estado" name="estado" required>
                  <option value="true" {% if encuentro.estado %}selected{% endif %}>Activo</option>
                  <option value="false" {% if not encuentro.estado %}selected{% endif %}>Inactivo</option>
                </select>
                <div class="invalid-feedback">Por favor, seleccione el estado.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="horaInicio" class="form-label">Hora de Inicio</label>
                <input type="time" class="form-control" id="horaInicio" name="horaInicio" required value="{{ encuentro.horaInicio }}">
                <div class="invalid-feedback">Por favor, ingrese la hora de inicio.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="horaInicio" class="form-label">Hora de Finalizacion</label>
                <input type="time" class="form-control" id="horaFin" name="horaFin" required value="{{ encuentro.horaFin }}">
                <div class="invalid-feedback">Por favor, ingrese la hora de Finalizacion.</div>
              </div>

              <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // Validación personalizada en el formulario
  (function () {
    'use strict'
    window.addEventListener('load', function () {
      var form = document.getElementById('editForm');
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    }, false);
  })();
</script>
{% endblock %}