{% extends 'template.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle">
    <h1>Registro de Jugadores</h1>
  </div>
  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Registrar Jugador</h5>

            <form class="row g-3 needs-validation" method="POST" action="/admin/jugador/save" novalidate id="registroForm">

              <!-- Sección Jugador -->
              <hr>
              <h6>Jugador</h6>
              <div class="col-md-6 mb-3">
                <label for="ape" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="ape" name="ape" required>
                <div class="invalid-feedback">Por favor, ingrese el apellido del Jugador.</div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="nom" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
                <div class="invalid-feedback">Por favor, ingrese el nombre del Jugador.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="tipoIdentificacion" class="form-label">Tipo de Identificación</label>
                <select class="form-control" id="tipoIdentificacion" name="tipo" required>
                  {% for item in lista %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">Seleccione un tipo de identificación.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="ident" class="form-label">Número de Identificación</label>
                <input type="text" class="form-control" id="ident" name="ident" required>
                <div class="invalid-feedback">Ingrese el número de identificación.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="fono" class="form-label">Celular</label>
                <input type="text" class="form-control" id="fono" name="fono" required>
                <div class="invalid-feedback">Ingrese un número de celular.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="genero" class="form-label">Género</label>
                <select class="form-control" id="genero" name="genero" required>
                  {% for item in lista2 %}
                  <option value="{{ item }}">{{ item }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">Seleccione el género.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="nCam" class="form-label">Nro Camiseta</label>
                <input type="text" class="form-control" id="nCam" name="nCam" required>
                <div class="invalid-feedback">Ingrese el numero de Camiseta.</div>
              </div>

              <div class="col-md-6 mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fechaNacimiento" name="fecha" required>
                <div class="invalid-feedback">Ingrese la fecha de nacimiento.</div>
              </div>

              <div class="col-12 text-end">
                <a type="button" class="btn btn-secondary" href="/admin/jugador/list" >Cancelar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // Validación personalizada en el formulario
  (function () {
    'use strict'
    window.addEventListener('load', function () {
      var form = document.getElementById('registroForm');
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    }, false);
  })();
</script>

{% endblock %}
