{% extends 'template.html' %}
{% block content %}
<div class="col-12">
    <h2 class="mt-4">Lista de encuentros</h2>
    <div class="justify-content-end mb-3">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Equipo1</th>
                <th>Equipo2</th>
                <th>Ubicacion</th>
                <th>Estado</th>
                <th>Hora de inicio</th>
                <th>Acciones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if list %}
            {% for item in list %}
            <tr id="row-{{ item.id }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ item.equipo1 }}</td>
                    <td>{{ item.equipo2 }}</td>
                    <td>{{ item.ubicacion }}</td>
                    <td>{{ item.estado }}</td>
                    <td>{{ item.horaInicio }}</td>

                    <td>
                        <a href="/admin/encuentro/edit/{{ item.id }}" class="btn btn-info">Modificar</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteRow({{ item.id }})">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No hay encuentros disponibles.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<script>
    function deleteRow(id) {
        const row = document.getElementById(`row-${id}`);
        if (confirm("¿Estás seguro de que deseas eliminar este encuentro.?")) {
            row.remove();
        }
    }
</script>
{% endblock %}