{% extends 'template.html' %}

{% block content %}
<div class="container">
  <div class="pagetitle">
    <h1>Editar Persona</h1>
  </div>
  
  <section class="section">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ingresa los datos de la persona</h5>

            <form class="row g-3 needs-validation" method="POST" action="/admin/person/update" novalidate>
                <input type="hidden" value="{{ person.idPersona }}" name="id" />
                <div class="mb-3">
                <label for="ape" class="form-label">Apellido</label>
                <input type="text" class="form-control"  name="ape" required value="{{person.apellido}}">
              </div>
              <div class="mb-3">
                <label for="nom" class="form-label">Nombre</label>
                <input type="text" class="form-control"  name="nom" required value="{{person.nombre}}">
              </div>
              <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="text" class="form-control"  name="dni" required value="{{person.dni}}">
              </div>
              <div class="mb-3">
                <label for="fono" class="form-label">Celular</label>
                <input type="text" class="form-control"  name="fono" required value="{{person.celular}}">
              </div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
